<div class="wrapper">
  <div class="box">
    <div id="task1" class="task" draggable="true" *ngFor="let obj of draggableData;let i=index" appDraggleDirective
      [selectedData]="obj"
      [ngClass]="{hidetask:obj.isDragged }">
      {{obj.name}} <span class="close" *ngIf="obj.isDragged">close</span>
    </div>

  </div>

  <div class="box draggedBox" (draggedItem)="updateDraggableData($event)" appDroppableDirective>
    <div id="dragged" class="task"  *ngFor="let obj of dataNotDraggable;let i=index" 
       >
      {{obj.name}} <span class="close" (click)="onDelete(i,obj)">close</span>
    </div>
  </div>
</div>